body{
    font-family: "Open sans", sans-serif;
}
a{
color: black;
}

a:hover{
    color: black;
    text-decoration: none;
    }

#header{
background-color: aliceblue;
padding: 0px;
}

.nav-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul{
    display: flex ;
}
.nav-menu > ul >li{
    position: relative;
    white-space: nowrap;
    padding: 10px 0 10px 40px;
    justify-content: left;
   
}
.nav-menu a{
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    font-size: 14px;
    font-weight: 500px;
    font-family: "Roboto", sans-serif;
    padding: 0 4px;
    text-transform: uppercase;

}
.nav-menu > ul >li a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #71e215 ;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s all ease-in-out;
}
.nav-menu a:hover::before,.nav-menu li:hover > a::before, .nav-menu .active >a::before {
    visibility: visible;
    width: 100%;
}

#header .container img{
width: 130px;
height: 100px;
}
.account-btn{
    text-decoration: none;
    margin-left: 25px;
    color: black;
    border-radius: 4px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 13px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    border: 2px solid #7ae721;
}
.account-btn:hover{
    background-color: #71e215;
}