body{
    font-family: "Open sans", sans-serif;
}
a{
color: black;
}

a:hover{
    color: black;
    text-decoration: none;
    }

#header{
width: 100%;
background-color: antiquewhite;
padding: 0px;
}

.nav-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu > ul{
    display: flex ;
}
.nav-menu > ul >li{
    position: relative;
    white-space: nowrap;
    padding: 5px 0 5px 30px;
   
}
.nav-menu a{
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
    transition: 0.3s;
    font-size: 13px;
    font-weight: 500px;
    font-family: "Roboto", sans-serif;
    padding: 0 20px;
    text-transform: uppercase;

}
.nav-menu > ul >li a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #71e215 ;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s all ease-in-out;
}
.nav-menu a:hover::before,.nav-menu li:hover > a::before, .nav-menu .active >a::before {
    visibility: visible;
    width: 100%;
}

#header .container img{
width: 90px;
height: 80px;
padding-left: 15px;
}
.account-btn{
    text-decoration: none;
    margin-left: 25px;
    color: black;
    border-radius: 4px;
    padding: 8px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 13px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    border: 2px solid #7ae721;
}
.account-btn:hover{
    background-color: #71e215;
}
.container{
    padding: 0px;
}
.breadcrumb{
    padding-top: 90px;
    font-size: 10px;
}
.container1{
    padding:0px;
    background-color: whitesmoke;
    height: 100vh;
} 
.container2{
    padding:0px;
    background-color: antiquewhite;
    height: 100vh;
}

@media only screen and (max-width:1500px) {

    .container .row h5{
        text-align: center;
    }

    .container .row  p{

        font-size: 13px;
        text-align: left;
    
    }    
}

@media only screen and (max-width:900px) {

    .container .row h5{
        text-align: center;
    }

    .container .row  p{

        font-size: 11px;
        text-align: center;
    
    }    
}




/* @media only screen and (max-width:1200px) {


    .container .row p{

        font-size: 16px;
        text-align: justify;
    
    }    
}
@media only screen and (max-width:768px) {

    .container .row p{
     

        font-size: 14px;
        text-align: justify;
    
    }    
}
@media only screen and (max-width:600px) {

    .container .row p{
        padding: 0;
        margin: 0;

        font-size: 12px;
        text-align: center;
        align-items: center;
    
    }    
} */
